@import "tailwindcss";
.glass-card {
  border-radius: var(--radius-3xl);
  -webkit-backdrop-filter: blur(20px);
  background: #161616cc;
  border: 1px solid #262626
}
.gradient-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #f97316, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text
}
.section-label {
  margin-bottom: calc(var(--spacing)*6);
  align-items: center;
  gap: calc(var(--spacing)*2);
  padding-inline: calc(var(--spacing)*4);
  padding-block: calc(var(--spacing)*2);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  color: #f97316;
  background: #f973161a;
  border: 1px solid #f973164d;
  border-radius: 3.40282e38px;
  display: inline-flex
}

.section-label:before {
  content: "";
  height: calc(var(--spacing)*1.5);
  width: calc(var(--spacing)*1.5);
  background: #f97316;
  border-radius: 3.40282e38px;
  animation: 2s infinite pulse
}
body {
  font-family: "Cairo", sans-serif;
}
.card {
  border-radius: var(--radius-3xl);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: .5s;
  background: #161616;
  border: 1px solid #262626;
  transition-duration: .5s;
  overflow: hidden
}

.card:hover {
  border-color: #333;
  transform: translateY(-4px)
}

.glass-card {
  border-radius: var(--radius-3xl);
  -webkit-backdrop-filter: blur(20px);
  background: #161616cc;
  border: 1px solid #262626
}